body 
{
 background-color: antiquewhite;
}

.container
{
 width: 700px;
 margin: 16px auto;
}

.news
{
 text-align: center;
 font-size: 40px;
 font-weight: bold;
 font-family: cursive;
 letter-spacing: 5px;
 margin-left: 5%;
}

nav li
{
 display: inline;
 font-size: 20px;
 margin-right: 15px;
 padding-left: 0;
}

nav a:hover 
{
 color: rgb(240, 233, 13);
 text-decoration: wavy;
}

h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(106, 83, 83);
    margin-right: 15px;
    padding-left: 5%;
}

h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin-right: 15px;
    padding-left: 5%;
}

h3
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(106, 83, 83);
    
}

h4
{
   font-family: sans-serif;
   color: rgb(106, 83, 83);
   padding-left: 5%;
}   

p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

date
{
    font-size: 8px;
}

a:visited 
{
    color: rgb(46, 154, 46);
}

a:active
{
    color: rgb(255, 0, 0);
    text-transform: uppercase;
}

p
{
    background-image: url("paper.gif");
    padding-left: 5%;
}

img
{
  width: 700px;
  height: auto;
}

footer
{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 14px;
}

footer li
{
  display: inline;
  font-size: 20px;
  margin-right: 15px;
  padding-left: 0;
  
}

