body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(images/background-image.jpg);  
}

.container{
    width: 1300px;
    margin: 16px auto;
}

nav li{
    display: inline;
    margin-right: 16px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

h2{
 font-family: 'Times New Roman', Times, serif;
 padding-top: 16px;
 padding-bottom: 12px;
 padding-right: 14px;
}

.btn{
    background-color: blue;
    border-color: blue;
}

.btn:hover{
    background-color: darkblue;
    border-color: darkblue;
}
